@charset "UTF-8";
/* CSS Document */

div,p,body,header,footer,section,article,nav 
{ 
	margin: 0; 
	padding: 0; 
}	

img 
{ 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

body
{
	font-family: Helvetica, Arial, sans-serif;
	font-size:14px;
}
iframe
{
	border: 1px dotted #754c76;
}
.hidden
{
	display:none;
}

#container
{
	width:960px; 
	margin:0 auto; /*top and bottom 0, left and right equal*/
}

#mainHeader
{
	width: 960px;
	height: 400px;
	border-bottom: solid 10px #754c76;
	margin-bottom: 20px;
}

#aboutMeSec
{

}

#myPicture
{
	width: 338px;
	height: 322px;
	float:left;
	margin-bottom: 30px;
}

#aboutMeText
{
	width: 500px;
	float:right;
	margin-top: 40px;
}

.title
{
	font-size: 30px;
	text-align: center;
	color: #718061;
	text-transform: uppercase;

}
#aboutMeText p
{
	color: #718061;
	font-size: 14px;
	line-height: 25px;
}

#aboutMeText p a
{
	text-decoration: none;
	color: #754c76;
}

#videoCont
{
	width: 960px;
	overflow: hidden;
}	

#videoCont h2
{

	font-size: 16px;
	color: #754c76;
	margin-top: 10px;
	margin-bottom: 10px;

}